{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = 10 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=100) %}

{% set tag_items = package.tags %}
{% set format_items = h.dict_list_reduce(package.resources, 'format') %}
{% set group_items = package.groups %}
{% set org_class = "_"+ package.organization.name %}
<li class="dataset isotope-item media-item"
    iso-tags=".{{tag_items|join('.', 'name')|replace(' ', '-')|lower}}."
iso-groups=".{{group_items|join('.', 'name')|lower}}."
iso-res-format=".{{format_items|join('.')|lower}}.">
 <div class="dataset-content">
         <a class= "media-view {{ org_class }}" href ="{{h.url_for(controller='package', action='read', id=package.name)}}">
        </a>

	<div class="dataset-organization {{ package.organization.name }}">
        {{ package.organization.title }}
        </div>
	<h3 class="dataset-heading">
	<div class="title">
	{{ title }}	
	</div>
 {% if package.get(state, '').startswith('draft') %}
        <span class="label label-info">{{ _('Draft') }}</span>
      {% elif package.get(state, '').startswith('deleted') %}
        <span class="label label-important">{{ _('Deleted') }}</span>
      {% endif %}
    </h3>
    {% if banner %}
      <span class="banner">Popular</span>
    {% endif %}
      <div class="notes">{{ notes|urlize }}</div>
</div>  
<div class="dataset-metadata">
  {% if package.resources and not hide_resources %}
    <ul class="dataset-resources unstyled">
      {% for resource in h.dict_list_reduce(package.resources, 'format') %}
        <li>
          <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label" data-format="{{ resource.lower() }}">{{ resource }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
<span class="date last-modified">
<a class="label-date" iso-sort="last_modified" ckan-modified="{{package.metadata_modified}}">   
{% snippet 'snippets/date.html', last_updated = package.metadata_modified %}
</a>
</span>
 </div>
{{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}

</li>
